#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.form{
  padding: 10px;
  width: 600px;
  border: 2px solid steelblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: lightsteelblue;
  border-radius: 9px;
}

.form input {
  width: 350px;
  height: 25px;
  font-size: 0.8em;
  margin: 10px;
}

.tarjeta{
  width: 600px;
  border: 2px solid fuchsia;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: lightpink;
  border-radius: 9px;
}
